.places {
  max-width: 984px;
  padding: 92px 148px 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 80px;
}
@media(max-width: 1024px) {
  .places {
    padding: 92px 48px 0;
  }
}
@media(max-width: 768px) {
  .places {
    padding: 88px 24px 0;
    row-gap: 73px;
  }
}
@media(max-width: 320px) {
  .places {
    padding-top: 64px;
    row-gap: 50px;
  }
}