.header {
  padding: 0 48px 0;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media(max-width : 320px) {
  .header {
    padding: 0 16px 0;
  }
}