.cover {
  max-width: 1184px;
  margin: 92px auto 0;

  }
  @media(max-width : 1024px) {
    .cover__title {
      margin: 92px auto 0;
    }
  }
  @media(max-width : 768px) {
    .cover__title {
      margin: 90px auto 0;
    }
  }
  @media(max-width : 320px) {
    .cover__title {
      margin: 66px auto 0;
    }
  }