.main__lead {
  margin: 56px auto 0;
  max-width: 984px;
}
@media(max-width: 1024px) {
  .main__lead {
    margin-top: 48px;
    max-width: 928px;
  }
}
@media(max-width: 768px) {
  .main__lead {
    max-width: 768px;
  }
}
@media(max-width: 320px) {
  .main__lead {
    max-width: 320px;
  }
}